          // ! Esto es mobile first

.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background: red;
}
.products--grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  div { // ? Como es Sass podemos anidar las propiedadesj, TAMBIEN sobrescribe los valores puestos en component.html
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
}
.message-error {
  background: red;
  color: white;
  opacity: 0; // ? Asi volvemos INVISIBLE lo que este dentro de la clase .message-error
  transition: all linear .5s; // agregamos una transicion a todos los elementos "all"
  &.activado {  // * Si .message-error tambien tiene la clase .activadose le agregara el codigo que esta dentro de las llaves
    opacity: 1; // ? Asi volvemos VISIBLE lo que este en la clase.
  }
}
.styleDeImagen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

        // ! 40em es la medida estandar para tablets en adelante

@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}


    // ! 1024px para pantallas desktop

@media screen and (min-width: 1024px) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
