<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">

<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }">

<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>

<h2>ngStyle</h2>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width"> <!-- ? Aqui podemos cambiar los valores a nuestro gusto -->
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }">
    </div>
  </div>
</div>



<hr>



<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>

<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Lorem ipsum dolor sit amet consectetur.
</p>    <!-- ? Operador ternario, si invalid da true entonces: italic, si da false usara normal -->

<div class="estilos">
  <div>
    <p>Cambia el tamaño de la imagen aqui!</p>
    <input type="number" [(ngModel)]="widhtImg"> <!-- ? Aqui podemos manipular el tamaño de la imagen -->
  </div>
  <div>
    <img [style.width.px]="widhtImg" [src]="person.avatar" >
  </div>
</div>




<hr>



<h1>ngSwitch</h1>
<h6>Prueba con angel, julian o carlos</h6>

<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'angel'">
    La persona es: Angel
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es: Julian
  </p>
  <p *ngSwitchCase="'carlos'">
    La persona es: Carlos
  </p>
  <p *ngSwitchDefault> <!-- Defaul es para cuando no hay match con ninguno de los casos  -->
    No hace match
  </p>
</div>



<hr>



<h1>*ngFor para Arrays/Objects</h1>

<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="gatito">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>




<hr>



<h1>*ngFor</h1>

<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>   <!-- ? Agregando un nuevo nombre a la lista -->
<ul>
  <li *ngIf="names.length == 0">
    No hay mas nombres
  </li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}
    <button (click)="removeName(i)">Delete</button>   <!-- ? Eliminando elementos del array con splice -->
  </li>
</ul>



<hr>



<h1>uso de *ngIf</h1>

<p>Prueba con angel o luis</p>

<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'angel'">Mi nombre es Angel</p>
<p *ngIf="person.name === 'luis' && person.age >= 18; else myBlock">Mi nombre es Luis</p>

<ng-template #myBlock>
  <p>Bloque else</p>
</ng-template>



<hr>



<h1>NgModel fusion entre escuchar eventos y setear propiedades</h1>

<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }}</p>

<p>Age: {{ person.age }} </p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>



<hr>



<h1>Eventos</h1>

<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>

      <!-- ? Escuchando eventos de (click) -->

<p>Edad {{ person.age }}</p>
<button (click)="ageIncrease()">Age ++</button>
<button (click)="ageDecrease()">Age --</button>

      <!-- ? Escuchando eventos de (scroll) -->

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci voluptas, quos incidunt ab, nesciunt tenetur, quis optio ipsum reiciendis a odit cupiditate. Aperiam debitis quos, dolor minus accusantium corporis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci voluptas, quos incidunt ab, nesciunt tenetur, quis optio ipsum reiciendis a odit cupiditate. Aperiam debitis quos, dolor minus accusantium corporis!</p>
</div>

<br>

<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Nombre: {{ person.name }}</p>



<hr>



<h1>Property binding, bueno para modificar propiedades de html</h1>

<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">

<progress max="100" [value]="person.age"></progress>
<img width="200" [src]="person.avatar" alt="">



<hr>



<h1>String interpolation, bueno para trabajar con strings</h1>

<h1>Hola!!</h1>

<h2>{{ 'Hola mundo! '.repeat(5)}}</h2>

<p>3 + 3 = {{ 3 + 3 }}</p>



<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>   <!-- ? Estas variables vienen del component.ts -->

<img src={{img}} width="300px" alt="image of a cat">
